<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-file-opener-pdl" version="3.0.5">

    <name>File Opener</name>
    <description>A File Opener Plugin for Cordova. (The Original Version)</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.FileOpenerPDL.js" name="FileOpenerPDL">
        <clobbers target="cordova.plugins.fileOpenerPDL" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/com/pdl/cordova/fileopenerpdl/FileOpenerPDL.java" target-dir="src/com/pdl/cordova/fileopenerpdl" />
        <source-file src="src/android/com/pdl/cordova/fileopenerpdl/FileProvider.java" target-dir="src/com/pdl/cordova/fileopenerpdl" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileOpenerPDL">
                <param name="android-package" value="com.pdl.cordova.fileopenerpdl.FileOpenerPDL" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
          <provider android:name="com.pdl.cordova.fileopenerpdl.FileProvider" android:authorities="${applicationId}.fileOpenerPDL.provider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/opener_paths" />
          </provider>
        </config-file>
        <source-file src="src/android/res/xml/opener_paths.xml" target-dir="res/xml" />
        <preference name="ANDROIDX_CORE_VERSION" default="1.6.+"/>
        <framework src="androidx.core:core:$ANDROIDX_CORE_VERSION" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileOpenerPDL">
                <param name="ios-package" value="FileOpenerPDL" />
            </feature>
        </config-file>
        <source-file src="src/ios/FileOpenerPDL.m" />
        <header-file src="src/ios/FileOpenerPDL.h" />
    </platform>

	<!-- WP8 -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
		  <feature name="FileOpenerPDL">
			<param name="wp-package" value="FileOpenerPDL" />
		  </feature>
		</config-file>
		<source-file src="src/wp8/FileOpenerPDL.cs" />
	</platform>

	<!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/fileOpenerPDLProxy.js" name="fileOpenerPDLProxy">
            <merges target="" />
        </js-module>
    </platform>

    <!-- browser -->
    <platform name="browser">
      <config-file parent="/*" target="config.xml">
          <feature name="FileOpenerPDL">
              <param name="browser-package" value="FileOpenerPDL"/>
          </feature>
      </config-file>

      <!-- Required for browserify: we always link module below as there is conditional reference
      to this module from requestFileSystem and resolveLocalFileSystemURI modules. -->
      <js-module src="www/browser/isChrome.js" name="isChrome">
          <runs />
      </js-module>

      <js-module src="src/browser/FileSaver.min.js" name="FileSaver">
          <clobbers target="FileSaver"/>
      </js-module>

      <js-module src="src/browser/FileOpenerPDL.js" name="FileOpenerPDLProxy">
          <runs/>
      </js-module>
    </platform>

    <!-- electron -->
    <platform name="electron">
        <js-module src="src/electron/FileOpenerPDL.js" name="fileOpenerPDL">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
